@font-face {
    font-family: "Helvetica-Now-Bold";
    src: url('./HelveticaNowDisplay-Bold.ttf') format('woff');
}

@font-face {
    font-family: "Helvetica-Now-Medium";
    src: url('./HelveticaNowDisplay-Medium.ttf') format('woff');
}

@font-face {
    font-family: "Helvetica-Now-Regular";
    src: url('./HelveticaNowDisplay-Regular.ttf') format('woff');
}
