<div class="head d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="search-item m-auto">
            <h1>Encuentra las mejores ofertas de empleo </h1>
            <div class="search-box d-flex">
                <input type="text" class="flex-grow-1" placeholder="Busca entre las ofertas de empleo">
                <button type="button" class="btn-search"><img src="../../../assets/images/ic_search.svg" alt="buscar"></button>
            </div>
            <p class="search-txt">Busca diseñador web, fullstack, programador android…</p>
        </div>
    </div>

</div>

<div class="container mt-4">
    <h2>Trabajos destacados de hoy</h2>
    <app-offer-card></app-offer-card>
</div>
