<div class="head">

</div>

<div class="container">

    <div class="row dbox">
        <div class="col-12 col-lg-9">

            <div class="d-flex">

                <div class="company-logo">
                    <img class="card-img" src="https://i.pinimg.com/originals/af/62/de/af62defb69a5e5aaef92637781e70576.jpg" alt="logo">
                </div>

                <div class="flex-grow-1 align-self-center content">
                    <h1>Hola</h1>
                    <p>Shopify</p>
                </div>


            </div>

        </div>

        <div class="col-12 col-lg-3 text-center  align-self-center ">
            <button class="btn btn-in"><img src="assets/images/fly.svg" alt="inscribirse">Inscribirme</button>
        </div>

        <div class="col-12 col-lg-9">
            <p class="content mt-4">
                At Domestika we are looking for a Growth Manager - Remote - Time Zone GMT and GMT +2. <br><br>At Domestika we are looking for an expert in the digital world who will help us accomplish our ambitious scaling goals. As a Growth Manager,
                you will define and lead strategies to increase our customer acquisition, retention and lifetime value across all our markets and channels. Reporting to the VP of Growth and Strategy, you will be working closely with a variety of teams
                as marketing, product, pricing, customer service adding a transversal point of view. Domestika is one of the largest growing creative communities within the creative industry. It all started as a small but dynamic showcase of creative
                professionals, designed to help them connect and learn from each other. Years later, born from this core value, Domestika widened its reach by designing and producing online courses for all those who want to learn and improve professionally
                with the best teachers. The community has grown to more than 5 million people who are constantly curious and passionate about learning new skills.
            </p>
        </div>
        <div class="col-12 col-lg-3 extra">
            <p class="title">localización</p>
            <p>Madrid, España</p>
            <p class="title">Formato</p>
            <p class="type bl">Tiempo completo</p>
            <p class="title">Fecha publicación</p>
            <p>4 de Abril de 2021</p>
        </div>
    </div>

</div>
