<div class="head">
</div>

<div class="container mb-4">

    <div class="row">
        <div class="col-6 box-title">
            <h1>Registrate en la plataforma</h1>
            <p>Consigue un acceso directo a las ofertas de empleo de tu sector o sube tus propias ofertas de empleo.</p>
            <p>Ésta es tu plataforma tanto si buscas trabajo como si estás en busca de talento para tu empresa.</p>
        </div>
    </div>

    <div class="row mt-4">

        <form class="col-6">
            <div class="row box-register">
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="firstName" placeholder="Nombre">
                        <label for="firstName">Nombre</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="firstName" placeholder="Apellidos">
                        <label for="lastName">Apellidos</label>
                    </div>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="company">
                        <label class="form-check-label" for="company">
                          Soy empresa o voy a publicar ofertas
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="user">
                        <label class="form-check-label" for="user">
                          Quiero inscribirme en ofertas de empleo
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" placeholder="Número de teléfono">
                        <label for="phone">Número de teléfono (opcional)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="pass" placeholder="Contraseña">
                        <label for="pass">Contraseña</label>
                    </div>
                </div>
                <div class="col-12">
                    <p class="conditions">Al registrarte aceptas los términos y condiciones junto a nuestra política de privacidad de nuestros servicios.</p>
                    <button type="submit" class="btn btn-login">Crear mi cuenta</button>
                    <button type="button" class="btn btn-register">Ya estoy registrado, iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>
