@import '../../../styles';
.card-offer {
    background: #FFFFFF;
    transition: all .3s ease;
    border-radius: 16px;
    padding: 20px;
    color: #1F1348;
    img {
        width: 160px;
        object-fit: cover;
        height: 100px;
        border-radius: 9px;
    }
    h1 {
        font-size: 22px;
        font-family: $fontBold;
        letter-spacing: 0.6px;
        margin-bottom: 4px;
    }
    p {
        font-size: 16px;
        color: #1F1348;
        margin: 0px;
    }
    .content {
        margin-left: 20px;
    }
    &:hover {
        transition: all .3s ease;
        cursor: pointer;
        box-shadow: 0px 2px 14px 0px #313c6a17;
        h1 {
            color: #4052FF;
        }
    }
}
