<div class="card-offer mb-2">
    <div class="row">
        <div class="col-12 col-lg-6">

            <div class="d-flex">

                <div class="company-logo">
                    <img src="https://i.pinimg.com/originals/af/62/de/af62defb69a5e5aaef92637781e70576.jpg" alt="logo">
                </div>

                <div class="flex-grow-1 align-self-center content">
                    <h1>Hola</h1>
                    <p>Shopify</p>
                </div>

            </div>

        </div>

        <div class="col-12 col-lg-6 extra">
            <div class="row h-100 align-items-center">
                <div class="col-4">
                    <p>Pozuelo de Alarcón del henares, España</p>
                </div>
                <div class="col-5">
                    <p class="type bl">Tiempo completo</p>
                </div>
                <div class="col-3">
                    <p>10/12/2021</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-offer">
    <div class="row">
        <div class="col-12 col-lg-6">

            <div class="d-flex">

                <div class="company-logo">
                    <img src="https://i.pinimg.com/originals/af/62/de/af62defb69a5e5aaef92637781e70576.jpg" alt="logo">
                </div>

                <div class="flex-grow-1 align-self-center content">
                    <h1>Hola</h1>
                    <p>Shopify</p>
                </div>

            </div>

        </div>

        <div class="col-12 col-lg-6 extra">
            <div class="row h-100 align-items-center">
                <div class="col-4">
                    <p>Pozuelo de Alarcón del henares, España</p>
                </div>
                <div class="col-5">
                    <p class="type gr">Tiempo completo</p>
                </div>
                <div class="col-3">
                    <p>10/12/2021</p>
                </div>
            </div>
        </div>
    </div>
</div>
