/* You can add global styles to this file, and also import other style files */

@import './assets/fonts/fonts';
$fontNormal: 'Helvetica-Now-Regular',
Arial,
Helvetica,
sans-serif;
$fontBold: 'Helvetica-Now-Bold',
Arial,
Helvetica,
sans-serif;
$fontMedium: 'Helvetica-Now-Medium',
Arial,
Helvetica,
sans-serif;
* {
    font-family: 'Helvetica-Now-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.1px;
}

*,
 :after,
 :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: #F5F6F9;
}

.head {
    background-color: #151958;
    min-height: 102px;
    margin-top: -102px;
    width: 100%;
}

.extra {
    p {
        font-size: 14px;
    }
    .type {
        border-radius: 12px;
        padding: 7px 24px;
        font-family: $fontMedium;
        text-align: center;
        display: inline-block;
    }
    .bl {
        background: rgba(64, 82, 255, 0.11);
        color: #293BE9;
    }
    .gr {
        background: rgba(17, 196, 111, 0.11);
        color: #11C46F;
    }
    .og {
        background: rgba(255, 83, 11, 0.11);
        color: #FF530B;
    }
    .yw {
        background: rgba(249, 145, 10, 0.11);
        color: #F9910A;
    }
    .pp {
        background: rgba(122, 18, 217, 0.11);
        color: #521BD5;
    }
}

.btn-login {
    width: 100%;
    margin: 12px 0 10px;
    padding: 15px;
    background: #4052FF;
    color: white;
    border-radius: 9px;
    &:hover {
        background-color: #151958;
    }
}

.btn-register {
    width: 100%;
    margin: 15px 0 24px;
    padding: 11px;
    border-radius: 9px;
    border: 1px solid #151958;
    &:hover {
        border-color: #4052FF;
        color: #4052FF;
    }
}

input {
    border-radius: 9px;
}
